.light {
  --bg-card: rgb(243 237 191);
  --bg-card-shadow: rgb(189 183 137);
  --bg-flyout-shadow: rgb(219 167 98);
  --bg-body: rgb(238 198 134);
  --ava-border: rgb(144 142 121);
  --text-color-accent: rgb(111 102 91);
  --text-color-neutral: rgb(124 120 115);
  --text-flyout-color: rgb(112 49 21);
  --text-color-dark: rgb(79 65 59);
  --text-input: rgb(71 55 48);
  --border-input: rgb(204 125 46);
  --bg-input: rgb(255 242 229);
  --bg-input-focus: rgb(255 254 252);
  --shadow-input: rgb(169 169 169);
  --border-bnt-default: #8a683e;
  --text-bnt-default: rgb(79 65 59);
  --bg-btn-default: rgb(176 149 130);
  --shadow-btn-default: #6f5331;
  --shadow-btn-default-active: #6f5331;
  --border-btn-disabled: rgb(151 150 149);
  --text-btn-disabled: rgb(121 121 121);
  --bg-btn-disabled: rgb(151 150 149);
  --btn-hover: rgb(0 0 0);
  --border-btn-light: #b3946d;
  --text-btn-light: rgb(105 97 91);
  --bg-btn-light: rgb(228 210 198);
  --shadow-btn-light: #987f61;
  --border-btn-error: #8a683e;
  --text-btn-error: rgb(94 30 20);
  --bg-btn-error: rgb(197 151 134);
  --shadow-btn-error: #6f5331;
  --bg-header: rgb(215 136 57);
  --border-spinner: #bd7731;
  --bg-spinner-content: #d08e23;
  --text-pagination: rgb(105 97 91);
}

.dark {
  --bg-card: rgb(136 120 57);
  --bg-card-shadow: rgb(107 65 20);
  --bg-flyout-shadow: rgb(135 113 90);
  --bg-body: rgb(164 169 174);
  --ava-border: rgb(80 73 6);
  --text-color-accent: rgb(250 215 172);
  --text-color-neutral: rgb(214 197 176);
  --text-flyout-color: rgb(58 19 3);
  --text-color-dark: rgb(60 50 46);
  --text-input: rgb(219 193 182);
  --border-input: rgb(150 83 17);
  --bg-input: rgb(90 80 62);
  --bg-input-focus: rgb(9 9 9);
  --shadow-input: rgb(58 58 58);
  --border-bnt-default: #584937;
  --text-bnt-default: rgb(190 177 166);
  --bg-btn-default: rgb(99 83 69);
  --shadow-btn-default: #685741;
  --border-btn-disabled: rgb(151 150 149);
  --text-btn-disabled: rgb(121 121 121);
  --bg-btn-disabled: rgb(151 150 149);
  --btn-hover: rgb(200 132 72);
  --border-btn-light: #5d4c39;
  --text-btn-light: rgb(190 177 166);
  --bg-btn-light: rgb(125 100 80);
  --shadow-btn-light: #685741;
  --border-btn-error: #51473a;
  --text-btn-error: rgb(174 126 117);
  --bg-btn-error: rgb(69 53 46);
  --shadow-btn-error: #685741;
  --bg-header: rgb(141 105 43);
  --border-spinner: #bd7731;
  --bg-spinner-content: #d08e23;
  --text-pagination: rgb(218 202 191);
}

$content-width: 1276px;
$tablet-width: 768px;
$mobile-width: 380px;

$close-button: url('../../public/images/svg/close-button.png');
$close-button-light: url('../../public/images/svg/close-button-light.png');
$details-light: url('../../public/images/svg//detail-light.svg');
$details: url('../../public/images/svg/detail.svg');
$theme-button-light: url('../../public/images/svg/sun.png');
$theme-button-dark: url('../../public/images/svg/moonDark.png');
