.level {
  padding: 6px;
  border: none;
  border-radius: 20px;

  font-size: 20px;
  color: rgb(61 15 100);
  text-align: center;
  text-shadow: 1px 1px 2px #8038a7;

  background: linear-gradient(145deg, #a46ac6, #8c58b9);
  outline: none;
  box-shadow:
    inset 0 10px 18px rgb(77 30 111 / 45%),
    inset 0 -4px 10px rgb(79 30 134 / 25%),
    0 0 1em #af85d6;

  &:disabled {
    color: rgb(44 40 47);
    text-shadow: none;
    background: linear-gradient(145deg, #9882a5, #89719e);
    box-shadow:
      inset 0 10px 18px rgb(46 40 49 / 30%),
      inset 0 -4px 10px rgb(52 42 63 / 30%),
      0 0 1em #af85d6;
  }

  @media (width <= 767px) {
    font-size: 16px;
  }
}

.label {
  font-size: 20px;
  color: rgb(61 15 100);
  text-shadow: 1px 1px 2px #8038a7;
}
