.level {
  padding: 1px 7px;
  border: 1.5px solid rgb(116 125 82);
  border-radius: 5px;

  font-size: 18px;
  color: rgb(44 45 39);

  background-color: #9b9e57;

  @media (width <= 767px) {
    font-size: 16px;
  }
}
