.level {
  padding: 1px 7px;
  border: 1.5px solid rgb(116 125 82);
  border-radius: 5px;

  font-size: 18px;
  color: rgb(52 59 25);

  background-color: rgb(203 223 138);

  &:disabled {
    background-color: rgb(166 177 131);
  }

  @media (width <= 767px) {
    font-size: 16px;
  }
}

.label {
  color: rgb(52 59 25);
}
