.app {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: space-between;

  width: 60vw;
  height: 80vh;
  margin: 0 auto;
  padding: 30px;
  border: 2px solid #a0a451;
  border-radius: 7px;

  background-color: #aaae5a;
  box-shadow: 5px 5px 5px #7273624a;
}
